// Colors

$colors: (
  blue: #79C2F4,
  off-white: #F5F5F5,
  grey: #4F4F4F,
  light-grey: #DFDFDF,
  cyan: #53BDD4,
  orange: #D26C27,
  green: #7ED321,
  purple: #C24CEA,
  red: #FB6570,
  black: #000,
);

// Fonts

$font-stack-sans: 'Open Sans', Helvetica, Arial, sans-serif;
$font-stack-serif: 'PT Serif', 'Times New Roman' , serif;

$fnt-sizes: (
  base: 16px,
  regular: 20px,
  medium: 26px,
  large: 30px,
);
