:root {
	--bg: #FFFCF7;
	--bg-dark: #343434;
	--links: #4578C6;
	--links-light: #83ACEA;
	--visited-links: #9B65B4;
	--visited-links-light: #CE91EA;
	--main-text: var(--bg-dark);
	--main-text-light: var(--bg);
}

@font-face {
	font-family: 'EB Garamond';
	src: url('/fonts/EBGaramond_wght.woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
	font-display: fallback;
}

/* 
	Flexbox reset
	source: https://github.com/dwhieb/flexbox-reset
*/
*:where(:not(iframe, canvas, details, img, summary, svg, svg *, symbol *, video)) {
	all: unset;
	display: revert;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:where([hidden]) {
	display: none;
}

:where(address, article, aside, body, dialog, div, dl, fieldset, figure, footer, form, header, hgroup, html, iframe, label, legend, li, main, menu, nav, ol, section, ul) {
	display: flex;
	flex-direction: column;
}

a,
button {
	cursor: revert;
}

blockquote,
q {
	quotes: none;
}

blockquote::before,
q::before,
blockquote::after,
q::after {
	content: '';
	content: none;
}

:focus-visible {
	outline: revert;
}

html {
	text-size-adjust: none;
}

meter {
	appearance: revert;
}

:where(ol, ul, menu) {
	list-style: none;
}

::placeholder {
	color: unset;
}

table {
	border-collapse: collapse;
}

/* Root styles */
body {
	font-family: serif;

	@supports (font-variation-settings: 'wdth' 155) {
		font-family: 'EB Garamond', serif;
	}

	@media (prefers-color-scheme: light) {
		color: var(--main-text);
		background-color: var(--bg);
	}

	@media (prefers-color-scheme: dark) {
		color: var(--main-text-light);
		background-color: var(--bg-dark);
	}

}

body {
	@media (max-width: 743px) {
		padding: 20px;
	}

	@media (min-width: 744px) {
		padding: 40px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
	padding-block: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	font-weight: 800;
}

em {
	font-style: oblique 14deg;
}

h1.title {
	font-weight: 900;
	font-size: 2.25rem;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.375rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1rem;
}

h6,
p,
li,
a,
footer,
div,
section,
article {
	@media (max-width: 743px) {
		font-size: 0.875rem;
	}

	@media (min-width: 744px) {
		font-size: 1.25rem;
	}
}

ul,
ol {
	@media (max-width: 743px) {
		padding-left: 1.3rem;
	}

	@media (min-width: 744px) {
		padding-left: 2rem;
	}
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: number;
}

li {
	display: list-item;
}

p,
li {
	line-height: 140%;
}

ul,
ol,
p {
	padding-block: 0.4rem;
}

a {
	text-decoration: underline;

	&:hover {
		opacity: 0.7;
	}

	@media (prefers-color-scheme: light) {
		color: var(--links);
	}

	@media (prefers-color-scheme: dark) {
		color: var(--links-light);
	}
}

section {
	margin-bottom: 1.2rem;
}

code {
	font-family: 'Courier New', Courier, monospace;
	padding-inline: 0.2rem;
	padding-block: 0.15rem;

	@media (max-width: 743px) {
		font-size: 0.7rem;
	}

	@media (min-width: 744px) {
		font-size: 1rem;
	}

	@media (prefers-color-scheme: light) {
		color: var(--main-text-light);
		background-color: var(--bg-dark);
	}

	@media (prefers-color-scheme: dark) {
		color: var(--main-text);
		background-color: var(--bg);
	}
}

.content-container {
	width: 100%;
	max-width: 580px;
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}