---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, mkNowLink } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="content-container">
    <section>
      <h1>Hey, I'm Alex</h1>
      <p>
        An infinite tinkerer, creator, and learner who loves turning ideas into
        reality. I have over a decade of experience creating products on the
        web—mostly on the programming side.
      </p>
      <p>
        If you're curious about what I'm up to now, you can checkout my
        <a href="/now">"Now"</a> page.
      </p>
    </section>
    <section>
      <h1>A short history</h1>
      <p>
        I've got ~15 years of experience building for the web, primarily
        working on consumer products.
      </p>
      <p>
        Lately, I've been focused on working with teams to scale their product
        processes, become user centered, and help engineers grow.
      </p>
      <p>
        I'm currently a Senior Product Engineer @
        <a href="https://unsplash.com">Unsplash</a>, which is one of the largest
        free stock photo websites in the world.
      </p>
      <p>
        My previous experiences include Founding Product Engineer @
        <a href="https://fluent.co">Fluent</a>, Co-founder/CEO of
        <a
          href="https://web.archive.org/web/20191206104308/https://firstbloom.co/"
          >Firstbloom</a
      > (whose data I <a href="https://github.com/alexcaza/firstbloom-data">open-sourced</a>),
        and Senior Front-end & Team lead @
        <a href="https://sportlogiq.com">Sportlogiq</a>.
      </p>
      <p>
        If you're curious about my full history, take a peek at my
        <a href="/resume">resume</a>.
      </p>
    </section>
    <section>
      <h1>What's on my mind</h1>
      <p>
        After a pretty bad burnout I've been hyper focused on reconnecting with
        the ideas of leisure, self-care and how to balance that with building
        businesses.
      </p>
      <p>
        Below are some products & rituals I've been using to help me reconnect
        with myself:
      </p>
      <ul>
        <li>Daily mobility routines — 15 minutes every morning.</li>
        <li>Meditation — Minimum 10 minutes, every morning.</li>
        <li><a href="https://streaksapp.com/">Streaks</a> — iCloud sync and Shortcuts support ❤️</li>
      </ul>
    </section>
		</main>
		<Footer />
	</body>
</html>
