---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
---
<html lang="en">
	<head>
		<BaseHead title={"Now"} description="" />
	</head>

	<body>
		<Header />
		<main class="content-container">
		  <article>
				<section class="metadata">
			    <p>
			      This is a <a href="https://nownownow.com/about">now page</a>, and if you
			      have your own site, you should make one too!
			    </p>
			    <p>
			      This page was last updated <FormattedDate date={new Date()} /> from Montreal, Canada.
			    </p>
				</section>
				<hr />
		    <section>
		      <h1 id="nutrition">Diet & Nutrition</h1>
		      <p>After a few years of trying to figure out why my anxiety had been steadily getting worse and why eating seemed to be causing me distress, I finally figured out the issue!</p>
		      <p>After starting anti-depressants, and the background anxiety was removed, I was still noticing pain, fatigue, anxiety and extreme bloating after meal-time. Turns out, I have celiac disease! Now that I follow a strict gluten-free diet, all of my symptoms have gone away. Barring the occasional glutening, which brings them all right back.</p>
		    </section>
				<section>
		      <h1 id="content-creation">Creating content</h1>
					<p>This isn't my first attempt at content creation, but I think this time it'll stick.</p>
<p>I know myself better now, which means I know what I need to sustain a creative endeavor. And for me, that's following what I want to do, not forcing myself to do something that I think will perform well. If it's not fulfilling to me, I'll drop it very quickly.</p>
<p>The YouTube channel I've started is a personal dump about trying new things, learning, failing and trying again. I'm always trying to learn new skills or have weird obsessive moments where I want to learn everything about a topic. So, I figured, why not film it and try to get better at telling compelling stories.</p>
<p>You can find the channel here: <a href="https://www.youtube.com/@alextriesthings">https://www.youtube.com/@alextriesthings</a></p>
				</section>
				<section>
		      <h1 id="guitar">Learning guitar</h1>
					<p>Playing guitar is something I've wanted to learn since I was less than 10 years old. I've tried two times in the past to learn, but it never stuck. I always found it too difficult. Now, as an adult with a much higher tolerance for sucking at new skills, I've decided to give it a try again.</p>
					<p>It hasn't even been a month yet (Jan 6, 2025) but I'm really enjoying the progress I've made and learning a new, physical, skill!</p>
				</section>
		    <section>
		      <h1 id="photography">Reconnecting with photography</h1>
		      <p>
		        After YouTube sent me down the film photography rabbit hole, I got my
		        parent's old 35mm cameras and went all-in. Having shot on digital since
		        I was 13, it's been a wonderful change.
		      </p>
		      <p>
		        The slow, imperfect and physical nature of it all really spoke to me.
		        Much like how manual pour overs and pulling espresso shots require
		        focused attention, so does film photography.
		      </p>
		      <p>
		        You can check out some of my work on Instagram &rarr;
		        <a href="https://instagram.com/graingiant">@graingiant.</a>
		      </p>
		      <p>
		        I've also started posting my work to Unsplash &rarr;
		        <a href="https://unsplash.com/@alexcaza">@alexcaza</a>
		      </p>
		    </section>
		    <section>
		      <h1 id="fitness">Lifting weights</h1>
		      <p>After fixing my diet and realizing I was EXTREMELY low on the protein intake scale, I have so much more energy again. Not only that, my recovery is 10x better than it was previously since making this change.</p>
<p>Now that I can actually recover after pushing my muscles, I decided it's time to hit the gym and lift some weights. I don't have concrete goals right now, other than putting on some muscle mass, and making sure I'm training for functional strength and movement.</p>
		    </section>
		  </article>
			<Footer />
		</main>
	</body>
</html>
<style>
	.metadata {
		margin-bottom: 0.5rem;

		p,a {
			font-size: 0.875rem;
		}
	}
</style>
