---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Alex Caza. All rights reserved. | <a href="https://github.com/alexcaza/alexcaza.com">Statically generated</a> in Montreal, Canada | <a href="https://forms.gle/pBhryoMzfqErZAuH6">Contact me</a>
</footer>
<style>
footer, footer a {
	font-size: 12px;
}

footer {
	margin-top: 1rem;
	flex-direction: row;
}

footer a {
	padding-inline: 0.2rem;
}
</style>
