---
const today = new Date();
---

<footer>
    <div>
        &copy; {today.getFullYear()} Alex Caza. All rights reserved. | <a href="https://github.com/alexcaza/alexcaza.com">Statically generated</a> in Montreal, Canada | <a href="https://forms.gle/pBhryoMzfqErZAuH6">Contact me</a>
    </div>
	<div>
    	<a href="https://xn--sr8hvo.ws/previous">←</a>
        An <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a> 🕸💍
        <a href="https://xn--sr8hvo.ws/next">→</a>
	</div>
</footer>
<style>
footer {
	margin-top: 2rem;
	font-family: 'Courier New', Courier, monospace;
	letter-spacing: 0.01em;

	@media (prefers-color-scheme: light) {
		color: var(--muted);
	}

	@media (prefers-color-scheme: dark) {
		color: var(--muted-dark);
	}

}

footer div {
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;

    @media (max-width: 743px) {
		font-size: 0.6875rem;
	}

	@media (min-width: 744px) {
		font-size: 0.75rem;
	}
}

footer div:last-child {
    padding-top: 12px;
}

footer div:last-child a:first-child {
    margin-right: 6px;
}

footer div:last-child a:last-child {
    margin-left: 6px;
}

footer a {
	@media (max-width: 743px) {
		padding-inline: 0.1rem;
	}

	@media (min-width: 744px) {
		padding-inline: 0.2rem;
	}
}
</style>
