---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Alex Caza. All rights reserved. | <a href="https://github.com/alexcaza/alexcaza.com">Statically generated</a> in Montreal, Canada | <a href="https://forms.gle/pBhryoMzfqErZAuH6">Contact me</a>
</footer>
<style>
footer {
	margin-top: 2rem;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: 'Courier New', Courier, monospace;
	letter-spacing: 0.01em;

	@media (prefers-color-scheme: light) {
		color: var(--muted);
	}

	@media (prefers-color-scheme: dark) {
		color: var(--muted-dark);
	}

	@media (max-width: 743px) {
		font-size: 0.6875rem;
	}

	@media (min-width: 744px) {
		font-size: 0.75rem;
	}
}

footer a {
	@media (max-width: 743px) {
		padding-inline: 0.1rem;
	}

	@media (min-width: 744px) {
		padding-inline: 0.2rem;
	}
}
</style>
