---
import HeaderLink from './HeaderLink.astro';
import { mkHomeLink, mkNowLink, mkBlogLink, mkResumeLink } from '../consts';
---

<header>
	<nav>
		<div>
			<a class="home-link" href={mkHomeLink()}>alex<br>caza</a>
		</div>
		<div>
			<HeaderLink href={mkNowLink()}>now</HeaderLink>
			<HeaderLink href={mkBlogLink()}>thoughts</HeaderLink>
			<HeaderLink href={mkResumeLink()}>resume</HeaderLink>
		</div>
	</nav>
</header>
<style>
	nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		max-width: 580px;

		@media (max-width: 743px) {
			padding-bottom: 1.5rem;
		}

		@media (min-width: 744px) {
			padding-bottom: 3.75rem;
		}
	}

	nav div {
		flex-direction: row;
	}

	nav a:not(.home-link) {

		@media (max-width: 743px) {
			font-size: 1rem;
			padding-inline: 0.51rem;
		}

		@media (min-width: 744px) {
			font-size: 1.5rem;
			padding-inline: 0.93rem;
		}
	}

	.home-link {
		font-weight: 900;
		text-decoration: none;

		@media (prefers-color-scheme: light) {
			color: var(--main-text);
		}

		@media (prefers-color-scheme: dark) {
			color: var(--main-text-light);
		}

		@media (max-width: 743px) {
			font-size: 2rem;
			line-height: 18px;
		}

		@media (min-width: 744px) {
			font-size: 3rem;
			line-height: 26px;
		}
	}
</style>
